<div class="component" layout="column" layout-align="center center" layout-padding layout-margin>
    <h3>MicroDecoder</h3>
    <pre>{{bcgCtrl.microinstructionDecoder | json}}</pre>
</div>
<div class="component" layout="column" layout-align="center center" layout-padding layout-margin>
    <h3>MIR</h3>
    <span class="rt-entry">{{ bcgCtrl.MIR | baseFilter:bcgCtrl.base }}</span>
</div>
<div class="component" layout="column" layout-align="center center" layout-padding layout-margin> 
    <h3>MAR</h3>
    <span class="rt-entry">{{ bcgCtrl.MAR | baseFilter:bcgCtrl.base }}</span>
</div>
