<div class="component" layout="column" layout-align="center center" layout-padding layout-margin>
    <h3>MicroDecoder</h3>
    <pre>{{bcgCtrl.microinstructionDecoder | json}}</pre>
</div>
<div class="component" layout="column" layout-align="center center" layout-padding layout-margin>
    <h3>MIR</h3>
    <input id="mir" name="mir" type="text" ng-model="bcgCtrl.MIR" ng-disabled="true">
</div>
<div class="component" layout="column" layout-align="center center" layout-padding layout-margin> 
    <h3>MAR</h3>
    <input id="mar" name="mar" type="text" ng-model="bcgCtrl.MAR" ng-disabled="true">
</div>
