<div class="component" layout="column" layout-align="center center" layout-padding>
    <h3>REGISTERS</h3>
    <table>
        <tr flex ng-repeat="(key, value) in regCtrl.registers.generalRegisters track by $index">
            <td>{{key}}: </td>
            <td>
                <input id="{{key}}" name="{{key}}" type="text" ng-model="value.data" ng-disabled="true">
            </td>
        </tr>
    </table>
</div>
<div class="component" layout="column" layout-align="center center" layout-padding ng-repeat="(key, value) in regCtrl.registers.defaultRegisters track by $index">
    <h3>{{key}}</h3>
    <input id="{{key}}" name="{{key}}" type="text" ng-model="value" ng-disabled="true">
</div>




