<div class="component" layout="column" layout-align="center center" layout-padding layout-margin>
    <md-progress-linear ng-show="cpuCtrl.showBuses" class="dbus" md-mode="indeterminate"></md-progress-linear>
    <h3>REGISTERS</h3>
    <table>
        <tr flex ng-repeat="(key, value) in regCtrl.registers.generalRegisters track by $index">
            <td>{{::key}}: </td>
            <td>
                <input class="instruction" id="{{::key}}" name="{{::key}}" type="text" ng-model="value.data" ng-disabled="true">
            </td>
        </tr>
    </table>
    <md-progress-linear ng-show="cpuCtrl.showBuses" class="sbus" md-mode="indeterminate"></md-progress-linear>
</div>
<div class="component" layout="column" layout-align="center center" layout-padding layout-margin ng-repeat="(key, value) in regCtrl.registers.defaultRegisters track by $index">
    <md-progress-linear ng-show="cpuCtrl.showBuses" ng-class="{activeBus: regCtrl.registers.dataBus[key + 'Sbus']}" class="dbus" md-mode="indeterminate"></md-progress-linear>
    <h3>{{::key}}</h3>
    <input class="instruction" id="{{::key}}" name="{{::key}}" type="text" ng-model="value" ng-disabled="true">
    <md-progress-linear ng-show="cpuCtrl.showBuses" ng-class="{activeBus: regCtrl.registers.dataBus[key + 'Dbus']}" class="sbus" md-mode="indeterminate"></md-progress-linear>
</div>




