<md-dialog ng-controller="ValidationController as validationCtrl" aria-label="Assembly Code" ng-cloak>
    <md-toolbar>
        <!-- The dialogs header -->
        <div class="md-toolbar-tools">
            <h2>Code</h2>
            <span flex></span>
            <!-- Button the closes the dialog -->
            <md-button class="md-icon-button" ng-click="validationCtrl.closeDialog()">
                <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <!-- Here you add your code -->
        <form name="codeForm" novalidate>
            <md-input-container>
                <label>Code</label>
                <!-- The code is verified each time you write (real-time) -->
                <textarea ng-model="validationCtrl.code" name="myCode" ng-required="true" cols="50" rows="20" ng-change="validationCtrl.validation.verifyCodeSyntax(validationCtrl.code)" required md-maxlength="1000"></textarea>
                <ng-messages for="codeForm.myCode.$error">
                    <!-- Messages that show you if the code is valid or not, consulting the validation flags-->
                    <ng-message when="md-maxlength">Use 1000 characters</ng-message>
                    <ng-message when="required">Enter code</ng-message>
                    <span ng-if="validationCtrl.validation.invalidInstruction.error">Grammar error at line {{validationCtrl.validation.invalidInstruction.line}}</span>
                    <md-icon class="material-icons rt-2x" ng-if="!validationCtrl.validation.syntaxError.error && !validationCtrl.validation.invalidInstruction.error">done_all</md-icon>
                    <md-icon class="material-icons rt-2x" ng-if="validationCtrl.validation.syntaxError.error">&#xE000;</md-icon>
                </ng-messages>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <!-- Button that validates the code and is enabled only if there is no syntax error -->
        <md-button ng-click="validationCtrl.validation.validateCode(validationCtrl.code)" style="margin-left:1em;" ng-disabled="validationCtrl.validation.syntaxError.error">
            Validate Code
        </md-button>
        <span flex></span>
        <!-- Button that assembles the code and is enabled only if the code is valid -->
        <md-button ng-click="validationCtrl.startAssemble('ASSEMBLE')" style="margin-right:1em;" ng-disabled="!validationCtrl.validation.validCode">
            Assemble
        </md-button>
    </md-dialog-actions>
</md-dialog>