.cpu-component {
  border: 1px solid black;
  .section {
    border: 1px solid black;
  }
}

.cpu-section {
  border: 1px solid black;
}

.component {
  border: 1px solid black;
}

.memory-component {
  border: 1px solid black;
}
